# ===== Runtime data ====
runtime/

# ===== 环境变量 =====
.env

# ===== Python / 后端 =====
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
.venv/
venv/

# ===== IDE =====
.vscode/
.idea/
*.swp
*.swo

# ===== OS =====
.DS_Store
Thumbs.db
